@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  display: flex;
  align-items: center;
  gap: 12px;

  cursor: pointer;

  .radio_input {
    @include onMobile {
      min-width: 20px;
      min-height: 20px;
    }

    min-width: 24px;
    min-height: 24px;

    position: relative;

    border: 1px solid #a3a3a3;
    border-radius: 30px;

    &.selected {
      border-color: $color-primary;

      &::after {
        @include onMobile {
          width: 12px;
          height: 12px;
        }

        content: "";

        width: 16px;
        height: 16px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: $color-primary;
        border-radius: 30px;
      }
    }
  }

  > span {
    @include onMobile {
      font-size: 18px;
    }

    color: $color-text;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
  }
}
