@font-face {
  font-family: "Outfit";
  font-weight: 400;
  src: url("/fonts/Outfit-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Outfit";
  font-weight: 500;
  src: url("/fonts/Outfit-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Outfit";
  font-weight: 700;
  src: url("/fonts/Outfit-Bold.ttf") format("truetype");
}
