* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  overflow-wrap: anywhere;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

textarea {
  resize: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
  }

  &[type="number"] {
    appearance: textfield;
  }
}

button {
  cursor: pointer;
  background-color: inherit;
  font-weight: inherit;
  color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: none;
}

svg {
  display: block;
}

g * {
  &:focus {
    outline: none;
  }
}

:disabled {
  cursor: initial;
}
